body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  .container {
    text-align: center;
    width: 60%;
    border: 1px solid #ccc;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .form {
    height: 30vh;
    margin: 5vh;
    padding: 3vh;
    box-shadow: 2px 2px 4px 7px rgba(0, 0, 0, 0.1);
  }
  .namediv {
    margin-top: 5vh;
  }
  .datediv {
    margin: 3vh;
  }
  .btn {
    height: 2.4em;
    width: 4em;
    border: 1px solid black;
    border-radius: 0.9em;
  }
  .tablediv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  table {
    width: 50%;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  th {
    background-color: #f4f4f4;
  }
  .completed {
    text-decoration: line-through;
    color: green;
  }
  .incompleted {
    color: red;
  }